fastapi
uvicorn
starlette
jinja2
sentence-transformers
faiss-cpu
numpy
timm==0.9.12
PyPDF2
python-multipart
langchain_community
langchain
langchain_openai
dotenv
pyaudio
SpeechRecognition
langchain-text-splitters
langchain-google-vertexai