/* Reset một số kiểu mặc định */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    padding: 20px;
}

/* Nút thêm dữ liệu */
.add-data {
    display: block;
    position: absolute;
    right: 2%;
    margin: 0 auto 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Khung hiển thị nội dung chat */
.chat-show {
    width: 80%;
    left: 18%;
    top: 9%;
    position: absolute;
    margin: 0 auto 20px;
    height: 80vh;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Hộp chứa tin nhắn */
.message-box {
    max-width: 60%;
    padding: 10px;
    border-radius: 8px;
    word-wrap: break-word;
    display: inline-block;
}

/* Tin nhắn người dùng (bên phải) */
.user-message {
    align-self: flex-end;
    max-width: 90%;
    background-color: #f1f1f1;
    color: #000;
    text-align: right;
    padding: 0.9%;
}

/* Tin nhắn bot (bên trái) */
.bot-response {
    align-self: flex-start;
    background-color: #f1f1f1;
    max-width: 90%;
    color: black;
    text-align: left;
    padding: 0.9%;
}


/* Khung nhập chat */
.chat-container {
    width: 80%;
    top: 88%;
    left: 18%;
    position: absolute;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.1); /* Tạo bóng */
}


/* Input nhập tin nhắn */
.chat-input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

/* Các nút hình ảnh */
.chat-container img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.add-pdf{
    display: none;
}

.send:hover{
    cursor: pointer;
}

.file-show{
    width: 15%;
    left: 1%;
    top: 9%;
    position: absolute;
    margin: 0 auto 20px;
    height: 90vh;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}