<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/index.css') }}">
    <script type="module" src="{{ url_for('static', path='js/index.js') }}"></script>
    <title>Chat UI</title>
</head>

<body>
    <button class = "add-data" id = "add-data">+ Add data</button>
    <input type="file" name="upload" class = "add-pdf" id = "add-pdf" accept="application/pdf" style="display: none;"/>
    <img src="/static/image/trash.png" class="delete-file">
    <div id = "left-content" class = "left-content">
        <div class = "file-show" id = "file-show">
        </div>
    </div>
    <div class = "chat-show">

    </div>

    <div class="chat-container">
        <input type="text" class="chat-input" id ="chat-input" placeholder="Bắt đầu nhập ....">
        <img src="/static/image/send.png" class = "send" id = "send">
        <img src="/static/image/mic.png" class = "mic" id = "mic">
    </div>
</body>
</html>
